.antenna_marker {
    /*pointer-events: none;*/
}

.leaflet-popup-content span {
    color: white;
}
/*
.leaflet-marker-pane {
    z-index: 6;
}

.leaflet-overlay-pane {
    z-index: 7;
}*/

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large,
{
  background-color: rgba(133, 232, 5, 0.6);
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div,
{
  background-color: rgba(133, 232, 5, 0.8);
}

